root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
ij_continuation_indent_size = 4
insert_final_newline = true

[*.java]
ij_java_spaces_within_array_initializer_braces = true

[{*.yaml,*.yml}]
indent_size = 4
